@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-[#F7F7F7]
}

.bg-sky {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../public/bg.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.section {
    @apply px-5 md:px-16
}