@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-[#F7F7F7]
}

.bg-sky {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../public/bg.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.section {
    @apply px-5 md:px-16
}

.how {
    @apply max-md:flex max-md:gap-3 overflow-x-scroll md:grid md:grid-cols-[4fr__1fr__4fr__1fr__4fr] items-center;
    scrollbar-width: none;
  }
  
  .how-grid-cols {
    @apply max-md:min-w-[240px] rounded-3xl text-white py-4 px-3 flex flex-col gap-40
  }