@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-[#F7F7F7]
}

.bg-sky {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../public/bg.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.section {
    @apply px-5 md:px-16
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
  }
  .loader::before,
  .loader::after {    
    content:"";
    grid-area: 1/1;
    --c:no-repeat radial-gradient(farthest-side,#25b09b 92%,#0000);
    background: 
      var(--c) 50%  0, 
      var(--c) 50%  100%, 
      var(--c) 100% 50%, 
      var(--c) 0    50%;
    background-size: 12px 12px;
    animation: l12 1s infinite;
  }
  .loader::before {
    margin: 4px;
    filter: hue-rotate(45deg);
    background-size: 8px 8px;
    animation-timing-function: linear
  }
  
  @keyframes l12 { 
    100%{transform: rotate(.5turn)}
  }

  .footer {
    background-color: #333;
    color: #fff;
    padding: 40px 5%;
    font-size: 14px;
  }
  .footer-columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .footer-column {
    max-width: 300px;
  }
  .footer-column h4 {
    margin-bottom: 10px;
    font-size: 16px;
  }
  .footer-column p, .footer-column ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .footer-column ul li {
    margin-bottom: 5px;
  }
  .footer-column ul li a {
    color: #fff;
    text-decoration: none;
  }
  .social-icons {
    display: flex;
    gap: 10px;
  }
  .social-icons li {
    list-style: none;
  }
  .social-icons li a {
    color: #fff;
    font-size: 18px;
  }
  .footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #444;
  }
  .footer-bottom p {
    margin: 0;
  }

  #latest-updates {
    padding: 40px 0;
    /* background-color: #f9f9f9; */
    margin: 10px 5%;
  }
  .updates-section h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
  }
  .updates-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  .update-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    flex: 1;
    /* max-width: 300px; */
  }

  .update-card img{
    height: 200px;
    @apply object-cover rounded-lg w-full
  }
  .update-card h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  .update-card p {
    font-size: 1em;
  }